---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$secondary-font-family: Arial Black, sans-serif;
$base-font-family: Lato, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$base-font-weight: lighter;

$spacing-unit:     30px;

$text-color:       #000;
$alt-text-color:   #fff;
$background-color: #fff;
$brand-color:      #F5A623;


$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1000px;

$on-phone:		   440px;
$on-phone-mid:	   540px;
$on-palm:          600px;
$on-palm-mid:	   750px;
$on-laptop:        900px;
$on-laptop-mid:	   1000px;
$on-desktop:	   1100px;

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin phone {
	@media screen and (min-width: #{$on-phone}) {
		@content;
	}
}

@mixin phone-mid {
	@media screen and (min-width: #{$on-phone-mid}) {
		@content;
	}
}

@mixin palm {
	@media screen and (min-width: #{$on-palm}) {
		@content;
	}
}

@mixin palm-mid {
	@media screen and (min-width: #{$on-palm-mid}) {
		@content;
	}
}

@mixin laptop {
  @media (min-width: #{$on-laptop}) {
    @content;
  }
}

@mixin laptop-mid {
  @media (min-width: #{$on-laptop-mid}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$on-desktop}) {
    @content;
  }
}

// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (min-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "posts",
        "footer",
        "syntax-highlighting"
;
