<footer class="site-footer clear">
 <!--  <div class="wrapper"> -->
  
    <div class="footer-group">
      <h2 class="footer-text">&copy; 2016. </h2>
      <h2 class="footer-logo">{{ site.title }}</h2>
      <h2 class="footer-text">all rights reserved.</h2>
    </div>
    <div class="social">
      <ul class="social-list">
      <li class="social-list-item"><a href="#"><img src="assets/images/svncrwns-mail-icon.png" alt="E-mail SVNCRWNS" title="E-mail SVNCRWNS"/></a></li>
      <li class="social-list-item"><a href="#"><img src="assets/images/svncrwns-ig-icon.png" alt="SVNCRWNS STREAM" title="SVNCRWNS STREAM"/></a></li>
      <li class="social-list-item"><a href="#"><img src="assets/images/svncrwns-vimeo-icon.png" alt="SVNCRWNS MEDIA" title="SVNCRWNS MEDIA"/></a></li>
      </ul>
    </div>
    <!-- </div> -->
 

</footer>
