.press-content {
	position: relative;
	bottom: -4em;
}

.press-topmsg {
	text-transform: uppercase;
	text-align: center;
}

.press-logo {
	font-family: $secondary-font-family;
}

.press-hero {
    text-align: center;
    width: 100%;
    position: relative;
    display: block;
}

.press-text {

	width: 90%;
	text-align: center;
    margin: 0 auto; 
    padding-top: 2em;

	@include phone-sm {
		width: 50%;
		padding-top: 0;
    
}
}

.date-group, .partner-group, .press-button-group {
	width: 80%;
	margin: 0 auto;
    text-align: center;
    padding-top: 3em;

	@include phone-sm {
		width: 50%;
	}
}

.date-group {
	
}

.press-date {
	font-weight: bold;
	font-family: $base-font-family;
}

.press-time {
	font-size: 0.9em;
    font-weight: 300;
}
.partner-group {
	font-size: 20px;
}
.partner-logo {
	width: 75px;
	height: 75px;
	margin: 0 auto;
}

.partner-name {
	padding-top: 2em;
}

.partner-address {
	font-size: 0.7em;
}

.press-button-group {
	padding-top: 6em;
}

.press-button {
	text-transform: uppercase;
	font-weight: 400;
}