/**
 * Site footer
 */
.site-footer {
    margin-top: 22em;
    
    @include phone {
        margin-top: 27em;
    }

    @include phone-mid {
        margin-top: 36em;
    }

    @include palm {
        margin-top: 43em;
        /*padding: 0 10em;*/
    }

    @include palm-mid {
        margin-top: 7em;
    }

    @include palm-hi {
        padding: 0 3em;
    }

    @include laptop {
        margin-top: 14em;
    }

    @include laptop-mid {
        padding: 0 11em;
    }
}

.footer-group {
    text-align: center;
    line-height: .3em;
    display: inline-block;
    width: 100%;

    @include palm {
        /*text-align: left;*/
        line-height: $base-line-height;
        margin-top: 4em;
    }

    @include palm-hi {
        text-align: left;   
    }
}

.footer-text,
.footer-logo {
    display: inline-block;
    font-size: $base-font-size;
}
.footer-text {
    font-weight: $base-font-weight;
    text-transform: uppercase;
    font-family: $base-font-family;
}

.footer-logo {
    font-family: $secondary-font-family;
}

.social {
    margin-top: 1em;
    text-align: center;
    float: none;
    position: relative;
    display: inline-block;
    margin: 1em auto;
    width: 100%;

    @include palm{
        /*float: right;*/
        margin-top: 1em;
    }

    @include palm-hi {
        text-align: right;
        float: right;
        margin-top: -3em;   
    }
}


.social-list {
    display: inline-block;
    margin: 1em 0 3em 0;

    @include palm {
        margin: 0;
    }
}

.social-list-item {
    display: inline-block;
    padding-right: 10px;
    width: 20px;

    a {
        @include base-link ();
    
        &:hover {
            color: $brand-color;
        }
    }
}

/*.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

*/

