/* Logo */
.logo {
    text-align: center;
    padding: 2.5em 0;
}

.logo img {
    width: 45px;
}

/* Hero */
.hero-section {
    width: 100%;
    display:block;
    position: relative;
}
.hero1 {
    background-image: url("/assets/images/hero-1.png");
    /*padding: 17em;*/
    height: 80vh;
}


.hero-text {
    font-size: 4em;
    font-family: $secondary-font-family;
    left: 0;
    width: 100%;
    position: absolute;
    top: 3em;
    color: $alt-text-color;
    text-transform: uppercase;
    line-height:1em;
    text-align: right;

    @include phone-sm {
        font-size: 63px;
        top: 3.7em;
    }

    @include phone {
        font-size: 6em;
        top: 1.7em;
    }

    @include phone-mid {
        font-size: 8em;
        top: 1em;
        left: -0.3em;
        line-height: .8em;
    }

    @include palm {
        /*left: -0.2em;*/
        font-size: 10em;
        top: .7em;        
    }  

    @include palm-mid {
        font-size: 12em;
        left: -.3em;
    }  

    @include laptop {
        font-size: 13em;
        top: .4em;
    }

    @include laptop-mid {
        font-size: 15em;
        top: .2em;
        left: -0.2em;
    }

    @include desktop {
        
    }
}

.alt {
    color: $brand-color;
}

/* Sections */
.base-section { 
    height: 70vh; @extend %clearfix;

    @include palm {
        height: 100vh;
    }
}

/* Statement */
.statement { text-align: right; padding-bottom: 7em; padding-right: 1em; padding-top: 4em;}

.statement-title {
    @include vertical-align(); 
    font-family: $secondary-font-family; 
    text-transform: uppercase; 
    font-size:3em; 
    padding-bottom: 0.3em;
    margin-bottom: 0.4em;
    top: 25%;
    line-height: 1.2em;

    @include phone {
        top: 40%;
    }

    @include palm {
        font-size: 4em;
        top: 50%;
    }
}

.statement-text {
    @include vertical-align();
    font-size: 1.7em;
    display: block; 
    font-weight: 300; 
    font-family: $base-font-family; 
    line-height: 1.3em; 
    top: 40%;
    
    @include phone-sm {
        font-size: 2em;
    }

    @include palm {
        font-size: 2.5em; 
        top: 50%;
    }

    @include palm-mid {
        width: 80%;
        float: right;
    }
}

/* Featured Work */
.featured-work {
    /*@include vertical-align(); */
    display: block;
    position: relative;
    margin-bottom: 6em;

    @include palm {
        margin-bottom: 10em;
    }
}

.work-section,
.info-section {
    padding: 4em 0;

    @include phone-sm {
        padding: 2em 0;
    }
}

.work-hero {
    margin: 0 auto;
}

.work-title {
    text-align: left;
    left: 0.4em;
    width: 70%;
    font-size: 1.6em;
    position: absolute;
    top: 0.8em;
    font-family: $secondary-font-family;
    font-weight: $secondary-font-weight;

    @include phone-sm {
        font-size: 2.5em;
    }

    @include phone {
        font-size: 3.1em;
    }

    @include phone-mid {
        font-size: 4.1em; 
        line-height: 1em;  
    }
    
    @include palm {
        font-size: 5.1em;
    }

    @include laptop {
        font-size: 7.1em;
    }
}

.work-medium {
    font-size: .9em;
    top: 7em;
    left: 1.2em;
    text-transform: lowercase;
    
    @include phone-sm {
        top: 11em;
    }

    @include phone {
        top: 13em;
        left: 1.6em;
    }

    @include phone-mid {
        top: 18em;
        left: 2.2em;
    }

    @include palm {
        font-size: 22px;
        top: 14em;
        left: 2em;
    }

    @include laptop {
        top: 20em;
        left: 3em;
    }
}

.work-date {
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 700;
    left: -1.5em;
    position: absolute;
    @include vertical-text();

    @include phone-sm {
        font-size: 0.8em;
    }

    @include palm {
        font-size: $base-font-size;
    }

    @include laptop {
        left: -1.3em;
    }

    @include laptop-mid {
        left: -1.5em;
    }

    @include desktop {

    }
}

.work-button {
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 3em;
    font-weight: 600;
    font-family: $secondary-font-family;
}

.work-button a:hover {
    color: $brand-color;
}

.info-title {
    text-align: center;
    padding: 1.5em 0;
    text-transform: uppercase;
    font-family: $secondary-font-family;
    font-size: 1.6em;
}

.info-section {

    display: block;
    position:relative;
    height: 45vh;
    @extend %clearfix;
    padding-top: 5em;

    @include palm {
        padding-top: 10em;
    }

    @include palm-mid {
        padding-top: 15em;
    }
}

.featured-work-2 {
    position: relative;
    display: block;
    @extend %clearfix;
    padding: 0 1.3em;
}



.print-list {
    list-style: none;
}


    .print-list-item {
        text-transform: uppercase;
        padding: .5em 0;
        width: 80%;
        margin: 0 auto;
        font-size: 1.1em;
    }
    
    .print-list-link, .press-list-link {
            @include base-link ();
            font-weight: $base-font-weight;
            margin: 0;
            padding: 0;

            &:hover {
                border: none;
            }
    }


    


.project-link,
.project-link:visited {
    @include base-link ();
    color: $alt-text-color;
}      
.project-link:hover {
    border: none;
}
.base-contact {
    text-align: center;
    text-transform: uppercase;
}

.contact-title {
    font-family: $secondary-font-family;
}

.contact-text {
    font-size: 14px;
}

.contact-link {
    @include base-link ();
    font-weight: $base-font-weight;
    margin: 0;
    padding: 0;

    &:hover {
        border: none;
    }
}


.group-contact {
    padding-bottom: 1.4em;
}

.newsletter-group {
    /*padding-left:3em;*/

    @include phone {
        padding-left: 0;
        text-align: center;
    }

    @include palm-mid {
        padding-left: 3em;
    }
}

.newsletter-title {
    
    @include palm-mid { 
        text-align: left;
    }
    
    line-height: 1.2em;
    padding-bottom: 0;
    padding-top: 4em;
}

.newsletter-text {
    text-transform: uppercase;
    text-align: center;
    padding-top: 2em;
    font-weight: 400;
        /*padding-left: 3em;*/

    @include palm-mid {
        text-align: left;
    }
}

.throne-img {
    right: 0;
    padding-top: 3em;

    @include palm-mid {
        position: absolute;
        right: -2em;
    }

    @include laptop {
        right: 0;
    }
}



